<?xml version="1.0" encoding="UTF-8"?>
<suite name="Dashboard Automation Run">
<listeners>
<listener class-name="org.uncommons.reportng.HTMLReporter"/>
 <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
</listeners>
    <test name="Regression Testcases">
       <classes>
         <class  name="Scenerio_Component.ScenerioPublisherTest" />
       </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->
