<?xml version="1.0" encoding="UTF-8"?>
<suite name="Dashboard_Automation_Run">
<listeners>
    <listener class-name="Generic_Component.CustomizeReport"/>
</listeners>
    <test name="Regression Testcases">
       <classes>
         <class  name="Scenerio_Component.ScenerioPublisherTest">
         <methods>
             <include name="testInvalidAddFeatureMapping"></include>
         </methods>
         </class>
       </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->
