<?xml version="1.0" encoding="UTF-8"?>
<suite name="Dashboard_Automation_Run">
    <listeners>
        <listener class-name="Generic_Component.CustomizeReport"/>
    </listeners>
    <test name="Regression Testcases">
        <classes preserve-order="true">
            <class name="Scenerio_Component.ScenerioPublisherTest"></class>
          <!--  <class name="Scenerio_Component.ScenerioBidderTest"></class>
            <class name="Scenerio_Component.ScenarioExchangeTest"></class>
            <class name="Scenerio_Component.ScenerioPartnerTest"></class>
            <class name="Scenerio_Component.ScenerioFeatureMappingTest"></class>-->
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->
